# Block extensionless (Binaries) by default
*
!/**/
!*.*

# Extensionless files to allow
!Dockerfile

# OS Specific
.DS_Store
thumbs.db

# Common Junk
*.tmp
*.bak
*.tar.gz

# IDE
.idea
.vscode

# Coverage output and HTML
coverage.html
coverage.out
*.lcov
*.pprof
