services:
  scylla:
    image: scylladb/scylla
    command:
      - --rpc-address
      - 0.0.0.0
      - --broadcast-rpc-address
      - 127.0.0.1
      - --skip-wait-for-gossip-to-settle
      - "0"
      - --developer-mode
      - "0"
      - --smp
      - "2"
#      - --alternator-port
#      - "8000"
#      - --alternator-write-isolation
#      - lwt
    ports:
      - 9042:9042 # CQL
